*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc

*~
*/*~

*.pkl
*/*.pkl
*/*/*.pkl
*/*/*/*.pkl
*/*/*/*/*.pkl

eegtools/*
eegtools/*/*
eegtools/*/*/*

.idea/*
.idea/*/*
*.boto

hostfile
data_sets/DS?/*.txt
data_sets/DS?/*.html
*.dat
